.showArea
  display: block
.hideArea
  display: none
.not-bold
  color: $light-grey
  cursor: pointer
.bold
  font-weight: bold
  color: $grey
.areas-of-practice-list-homepage
  button
    margin: 24px 0px
    display: block
    background: transparent
    border: 0px
.vline
  width: 1px
  height: 100%
  position: absolute
  background-color: #d4d4d4
  right: 48px