.blog-roll-container
  background-color: $white
  display: block
  box-shadow: 0px 3px 6px rgba(0,0,0,.16)
  border-radius: 4px
  color: $grey
.featured-thumbnail
  img
    width: 100%
    border-top-left-radius: 4px
    border-top-right-radius: 4px
.gatsby-image-wrapper > div
  padding-bottom: 56.25% !important /* your aspect ratio */
.post-title
  font-weight: bold
  font-size: 16px
  margin: 24px 24px 12px 24px
.post-excerpt
  margin: 0px 24px 24px 24px
  color: $light-grey
  font-size: 16px
.date-read-container
  padding: 0px 24px
  width: 100%
  .post-date
    color: $light-grey
    font-size: 14px
    float: left
    padding-top: 5px
  .button
    float: right