.button-container
  width: 100%
  position: relative
  margin-top: 24px
  height: 50px
.button
  background: $grey
  color: $white
  border-radius: 4px
  padding: 13px 36px
  font-size: 16px
  display: inline-block

.center-btn
  position: absolute
  left: 50%
  transform: translate(-50%, 0)

.icon-button
  padding: 0px
  height: 32px
  width: 32px
  position: relative
  img
    position: absolute
    height: 24px
    width: 24px
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)

button:focus, input[type="button"]:focus
  outline: none

.slick-prev
  color: red