.carousel-previous
  bottom: -40px !important
  left: calc((50% - 12px) - 24px) !important
  transform: translate(-50%, -50%)
  top: auto !important
  &::before
    content: ''

.carousel-next
  bottom: -40px !important
  left: calc((50% - 12px) + 24px) !important
  transform: translate(-50%, -50%)
  top: auto !important
  &::before
    content: ''

.testimonial-container
  text-align: center

.testimonial-quote
  font-size: 16px
  line-height: 24px
  color: $grey
  margin: 0px

.testimonial-name
  margin-top: 12px
  font-size: 14px
  color: $light-grey