.video-line
  height: 7px
  width: 100%
  background: $purple
  background: -moz-linear-gradient(left, $purple 0%, $purple 33%, $blue 33%, $blue 66%, $green 66%, $green 100%)
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,$purple), color-stop(33%,$purple), color-stop(33%,$blue), color-stop(66%,$blue), color-stop(66%,$green), color-stop(100%,$green))
  background: -webkit-linear-gradient(left, $purple 0%,$purple 33%,$blue 33%,$blue 66%,$green 66%,$green 100%)
  background: -o-linear-gradient(left, $purple 0%,$purple 33%,$blue 33%,$blue 66%,$green 66%,$green 100%)
  background: -ms-linear-gradient(left, $purple 0%,$purple 33%,$blue 33%,$blue 66%,$green 66%,$green 100%)
  background: linear-gradient(to right, $purple 0%,$purple 33%,$blue 33%,$blue 66%,$green 66%,$green 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$purple', endColorstr='$green',GradientType=1 )
