@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap')
$base: Open Sans, Arial, sans-serif

html, body
  font-family: $base
  color: $grey

.section-title
  font-weight: bold
  color: $grey
  display: block
  font-size: 24px
  line-height: 24px
  text-align: center

p
  font-size: 16px
  line-height: 24px

.center
  text-align: center

h2
  font-size: 18px
  margin-bottom: 24px
  font-weight: bold

h3
  font-size: 18px
  font-weight: bold
  margin-bottom: 48px
  color: $light-grey
  display: block