.top-footer-bar
  background-color: $light-grey
  text-align: center
  padding: 24px 0px
  a
    color: $white
    margin: 6px
.main-footer
  background-color: $white
  color: $grey
  font-size: 16px
  padding: 24px 0px
.copyright-bar
  background-color: $white
  color: $grey
  font-size: 16px
  padding: 24px 0px
  border-top: 1px solid $light-grey
h4
  font-size: 16px
  font-weight: bold
  margin: auto
.footer-contact-info
  .contact-element
    color: $grey
    display: block
    margin-bottom: 8px
    span
      margin-top: -20px
      display: inline-table
      display: inline-block
      vertical-align: middle
  img
    margin-right: 8px
    display: inline-block