@import cssReset

$grid-count: 12
$grid-padding: 16px
$grid-mobile-padding: 4px
$grid-mobile-gutter: 4px

.container
  padding: 0px $grid-mobile-gutter
  margin: 0

$gridBreakpoints: ('col-sm': 576, 'col-md': 768, 'col-lg': 992, 'col-xl': 1200, 'col-xxl': 1440)
$containerWidth: ('col-sm': 540, 'col-md': 720, 'col-lg': 960, 'col-xl': 1140, 'col-xxl': 1440)

.visible-sm, .visible-md, .visible-lg, .visible-xl, .visible-xxl
  display: none

@media (min-width: 576px)
  .visible-sm
    display: block

@media (min-width: 768px)
  .visible-md
    display: block

@media (min-width: 992px)
  .visible-lg
    display: block

*, ::after, ::before
  box-sizing: border-box

@-ms-viewport
  width: device-width

@function grid($size)
  $gridOutput: ($size / $grid-count) * 100%
  @return $gridOutput

.col, [class*="col-xs"]
  padding: 0px $grid-mobile-padding
  min-height: 1px
  width: 100%
  position: relative

.row
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap

@media (min-width: 576px)
  .container, .container-fluid
    width: 100%
    padding: 0px $grid-padding
    margin-right: auto
    margin-left: auto

  .col, [class*="col-"]
    padding: 0px $grid-padding
    min-height: 1px
    width: 100%
    position: relative

  .row
    display: -ms-flexbox
    display: flex
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    margin-right: -$grid-padding
    margin-left: -$grid-padding

@each $breakpointName, $breakpoint in $gridBreakpoints
  @media (min-width: $breakpoint+px)
    @each $containerSize, $width in $containerWidth
      @if $breakpointName = $width
        .container
          max-width: $width+px
    @for $i from 1 to $grid-count
      .#{$breakpointName}-#{$i}
        -ms-flex: grid($i)
        flex: grid($i)
        max-width: grid($i)
    @for $i from 0 to $grid-count+-1
      .offset-#{$breakpointName}-#{$i}
        margin-left: grid($i)

@for $i from 1 to $grid-count
  .col-#{$i}
    -ms-flex: grid($i)
    flex: grid($i)
    max-width: grid($i)

.no-gutters
  margin-right: 0
  margin-left: 0
  >
    .col, [class*=col-]
      padding-right: 0
      padding-left: 0
