@media (min-width: 576px)
  .navbar
    background-color: $white
    height: 72px
    width: 100%
    position: fixed
    top: 0px
    left: 0px
    z-index: 999
    display: flex
    justify-content: space-between
    flex-direction: row
    a
      color: $grey
      margin: 0px 12px
      font-size: 16px
  .navbar-brand
    display: flex
    flex: 1 0 0
    justify-content: flex-start
    align-self: center
  .navbar-menu
    display: flex
    flex: 1 0 0
    justify-content: center
    align-self: center
  .navbar-contact
    display: flex
    flex: 1 0 0
    justify-content: flex-end
    align-self: center
.navbar-icon
  position: relative
  width: 24px
  height: 24px
  padding-left: 12px
  svg
    position: absolute
    top: -2px
    right: 0px
.mobile-navbar-content
  position: fixed
  left: -100%
  height: 100%
  width: calc(100% - 75px)
  background-color: $light-grey
  transition: left .5s
  a
    display: block
    padding: 6px 16px
    font-size: 16px
.mobile-nav-active
  left: 0px
.phoneNumber
  color: $white
  margin-right: 12px

@media (min-width: 992px)
  .mobile-navbar-content
    display: none !important
  .navbar-burger
    display: none