@import sass/cssReset
@import sass/grid
@import sass/colors
@import sass/fonts
@import sass/colorBar
@import sass/button
@import sass/navbar
@import sass/hero
@import sass/areaCarousel
@import sass/blogRoll
@import sass/carousel
@import sass/footer

.off-white-section
  background-color: $off-white
  padding: 48px 0px

section
  padding: 48px 0px

.gatsby-image-wrapper
  border-radius: 0px !important

.input
  height: 48px
  width: 100%
  border-radius: 4px
  color: $light-grey
  border: 1px solid $grey
  padding: 0px 16px
  font-size: 16px
  margin: 6px 0px

label
  position: absolute
  width: 1px
  height: 1px
  padding: 0
  margin: -1px
  overflow: hidden
  clip: rect(0,0,0,0)
  border: 0

.textarea
  height: 192px
  width: 100%
  border-radius: 4px
  color: $light-grey
  border: 1px solid $grey
  padding: 16px
  font-size: 16px
  margin: 6px 0px
